body{ 
    margin: 0; 
    padding: 0;  
    font-family: 'Courier New', Courier, monospace;
    

}  


.customNav{
    background-color: rgb(46, 97, 238); 
    font-weight: bold;  
    font-size: 1.5rem;  
    color: white; 
    border:1px solid black; 
    padding-top: 5px;


}  

.customNav ul{
    display: flex; 
    flex-direction: row; 
} 

.customNav li{
    margin-right:25px; 
    list-style: none; 
    
}  

.customNav li a{ 

    color: white; 
    text-decoration: none; 
}

section{
    height: 100vh; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

.aboutMe ,  .contato{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;  
    color: white; 
    background-color: rgb(27, 27, 27);
    

}  



.aboutMe span{
    color: rgb(18, 71, 247);
}   

.projects{
    background-color:#355070; 
    color: black; 
    height: auto;
}

.projects h1{
    color: white; 
    margin: 30px;
} 

.icons{
    display: flex; 
    flex-direction: row;
} 

.icons img{
    margin-right: 15px;
}

.contato img{
    width:200px;
}  

.card-body{
    background-color: darkslateblue; 
    color: white;
} 

.button{
    background-color: red; 
    border-radius: 10px;  
    border: 1px solid black;
    color: white; 
    padding: 10px 20px; 
    text-decoration: none; 
    width: 100px;
}  

.button:hover{
    color: white; 
    background-color: rgb(165, 16, 16);
} 



.card-body{
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
}




.myName{
    border-right: 2px solid white; 
    animation: blink 0.8s infinite ;
} 

@keyframes blink{

    from {
        border-color: transparent;

    } 

    to{ 

        border-color: white;

    }


}

.icons{
    width: 300px;
} 

.icons a{
    color: white; 
    text-decoration: none;
} 

.icons a:hover{
    color: black; 
    text-decoration: underline;
}



/* .customNav{
    font-weight: bold; 

} */